<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to Ionic Note</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Create Here</p>
      <ion-item>
        <ion-input name="title" type="text" [(ngModel)]="data.title" placeholder="Title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="details" type="text" [(ngModel)]="data.details" placeholder="Details"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="reminder" type="date" [(ngModel)]="data.reminder" placeholder="Reminder"></ion-input>
      </ion-item>
      <br>
      <ion-row justify-content-center>
        <ion-button color="success" (click)="createActivity()">Save Note</ion-button>
        <ion-button color="dark" type="reset" fill="outline">Reset</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
